@font-face { font-family: Tinos; src: url('fonts/Tinos-Regular.ttf'); } 
@font-face { font-family: Tinos-BoldItalic; src: url('fonts/Tinos-BoldItalic.ttf'); } 
@font-face { font-family: Tinos-Bold; src: url('fonts/Tinos-Bold.ttf'); } 

 
 .study-button {
    /* width: 100%;
    height: 400px;
    border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(26, 147, 111, 0.2);
    /* fil; */


}

.navbar img {
  padding-left: 10px;
  padding-right: 1%;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 150px;
  height: 105px;
}


.about-title h2 {
  /* background-color: white; */
  text-align: center;
  padding-left: 0%;

}


.start-studying {
    /* border: 5px solid #BDD4E7; */
    border: 5px solid #F4A261;
    background-color: #E76F51;
    padding-top: 10px;
    /* border: none; */
    color: white;
    padding: 30px 45px;
    text-align: center;
    font-family: Tinos;

    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 50px;
}


.navbar {
    background-color: #264653;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    vertical-align: middle;
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr; */
  }

  /* .navbar a {

  } */
  
  .navbar p {
    float: left;
    color: white;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 25px;
    vertical-align: middle;
    font-family: Tinos;
  }
  
  .navbar p:hover {
    background-color: #F4EDED;
    color: black;
  }
 

  
  /* .navbar a.active {
    background-color: #04AA6D;
    color: white;
  } */


  .star-title {
    /* position: absolute; */
    width: 300px;
    height: auto;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%

  }

.Nervous {
    background-color: rgba(26, 147, 111, 0.2);
    /* font-family: Tinos-BoldItalic; */
}

.Nervous h2 {
  font-size: 200%;
  /* font-family: PlayfairDisplay; */
  top: -70px;
  /* padding-bottom: -100px; */
  margin-bottom: 0px;
  font-family: Tinos-BoldItalic;
}

.person-1 {
  background-color: rgba(26, 147, 111, 0.2);
}  

.person-1 p {
    font-family: Tinos;
    padding: 10%;
    font-size: 25px;
  
}


.bottom-bar-links {
  display: grid;
  background-color: #264653;
  align-items: center;
  vertical-align: middle;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
}

.bottom-bar-links p {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: Tinos;

}


.bottom-bar-links a {
  text-decoration: none;

}

.bottom-bar {
  background-color: #264653;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;

}

.courses {
  padding-top: 30px;
  padding-bottom: 30px;
  /* background-color: rgba(26, 147, 111, 0.2); */
  background-color: rgba(26, 147, 111, 0.2);
}


.h3 {
  font-size: 50px;
  font-family: Tinos-Bold;
}

.quote {
  background-color: #F4A261;
  text-align: center;
  border-radius: 50px;
  padding: 50px;
  color: white;
  font: Tinos;
  
}

/* .inspiration h3 {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: Inter;
} */

.AandFive {
  padding-top: 50px;
  font-family: Tinos;
}

.whoItsBy-title {
  padding-bottom: 50px;
  font-family: Tinos;

}

/* .courses h2 {
  font-size: 50px;
  text-align: center;
  padding-left: 0px;
  font-family: Tinos-Bold;
  

} */

.course-list a button {
      /* border: 5px solid #BDD4E7; */
      border: 2px solid #264653;
      padding-top: 10px;
      /* border: none; */
      color: #264653;
      padding: 10px 7px 10px 40px;
      text-align: center;
      font-family: Tinos;

  
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 10px 10px;
      cursor: pointer;
      border-radius: 50px;
      /* display: grid;
      grid-template-columns: 1fr 1fr 1fr; */
}




.course-list a {
  display: grid;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(26, 147, 111, 0.2); */
  text-decoration: none;

}

.nervous-image{
  width: 371px;
  height: auto;
  /* padding-left: 0%;
  padding-right: 0%; */
  /* padding-top: 0%;
  padding-bottom: 5% */
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}


.icon img {
  /* background: url("images/icons/chem-icon.png"); */
  width: 25px;
  height: auto;
  float: left;
  vertical-align: middle;
  padding-right: 5px;
}

@media (min-width: 900px) {
  .navbar img {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
    width: 150px;
    height: 105px;
  }

  .navbar p {
    float: middle;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    vertical-align: middle;
    font-family: Tinos;

  }

  .Nervous {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    font-family: Tinos;
  }

  .nervous-image{
    width: 557px;
    height: 368px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 5%;
    padding-bottom: 5%
  }
  
  .Nervous h2 {
    font-size: 400%;
    font-family: Tinos-BoldItalic;

  }

  .course-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0% 10%;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(26, 147, 111, 0.2); */
    /* flex: 2 1 50%%; */
  
  }

  .person-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    font-family: Tinos
  }

  .person-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    font-family: Tinos
  }


  .star-title {
    /* position: absolute; */
    width: 500px;
    height: auto;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%

  }

  .quote-format {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    padding: 0% 20% 0% 20%;
    grid-gap: 10%;
  }

}

.course {
  width: 225px;
  text-align: center;
}
