/* body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
} */

.navbar {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    height: calc(100vh - 40px); /* Adjust height to account for navbar height */
}

.sidebar {
    width: 20vw;
    background-color: aqua;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%; /* Full height of the container */
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 15px 0;
    border-bottom: 1px solid #555;
    padding: 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.objectives {
    color: black;
    margin-top: 5px;
    font-size: 1.4vw;
    margin-bottom: 0px;
    padding: 0;
}

.objectives a {
    color: black;
    text-decoration: none;
}

.objectives a:visited {
    color: black;
}

.objectives a:hover {
    text-decoration: underline; /* Add underline on hover */
}

.objectives a.selected {
    background-color: #444; /* Change background color when selected */
    color: white; /* Optional: change text color for contrast */
}

.dropdown-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 1s ease;
}

.dropdown-content.show {
    max-height: 500px; /* Adjust this value as needed */
    opacity: 1;
}

.dropdown-content li {
    margin: 10px 0;
    border-bottom: none;
}

.dropdown a {
    color: black;
    text-decoration: none;
}

.dropdown a:visited {
    color: black;
}

.dropdown a:hover {
    text-decoration: underline; /* Corrected property from text-align */
}

.dropdown-btn {
    display: block;
    font-size: 2vw;
    text-align: left;
    margin: 10px 0;
    padding-left: 0px;
}

.dropdown-btn::after {
    content: ' \25BC'; /* Unicode character for downward arrow */
    font-size: 0.8em;
    padding-left: 5px;
}

.dropdown-btn.active::after {
    content: ' \25B2'; /* Unicode character for upward arrow */
}

.content {
    flex-grow: 1; /* Allow content to take up remaining space */
    padding: 20px;
    overflow-y: auto; /* Enable scrolling if content overflows */
    box-sizing: border-box;
}

.title_text {
    font-size: 3vw;
    text-align: center;
    border-bottom: 15px solid purple;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.dropdown {
    margin-top: 10px;
}

.dropdown-btn .unit {
    font-weight: bold;
    color: #ff5733; /* Example color for Unit */
}

.dropdown-btn .topic {
    font-style: italic;
    color: #33aaff; /* Example color for Topic */
}