@font-face { font-family: Inter; src: url('fonts/Inter-Regular.ttf'); } 
@font-face { font-family: PlayfairDisplay; src: url('fonts/PlayfairDisplay-Regular.ttf'); } 

 
 .study-button {
    /* width: 100%;
    height: 400px;
    border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(26, 147, 111, 0.2);


}

.navbar img {
  padding-left: 20px;
  padding-right: 1%;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 150px;
  height: 105px;
}


.start-studying {
    /* border: 5px solid #BDD4E7; */
    border: 5px solid #F4A261;
    background-color: #E76F51;
    padding-top: 10px;
    /* border: none; */
    color: white;
    padding: 30px 45px;
    text-align: center;

    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 50px;
}


.navbar {
    background-color: #264653;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    vertical-align: middle;

  }
  
  .navbar a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    vertical-align: middle;
    font-family: Inter;

  }
  
  .navbar a:hover {
    background-color: #F4EDED;
    color: black;
  }
 

  
  /* .navbar a.active {
    background-color: #04AA6D;
    color: white;
  } */


  .star-title {
    /* position: absolute; */
    width: 500px;
    height: 200x;
    padding-left: 8%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%

  }

.Nervous {
    display: grid;
    background-color: rgba(26, 147, 111, 0.2);
    align-items: center;
    vertical-align: middle;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    /* font-family: Play; */
}

.Nervous h2 {
  font-size: 400%;
  font-family: PlayfairDisplay;
  position: relative;
  top: -120px;

}

.bottom-bar {
  display: grid;
  background-color: rgba(26, 147, 111, 0.2);
  align-items: center;
  vertical-align: middle;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
}

.bottom-bar p {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  color: white;
  font-size: 20px;


}

.courses {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(26, 147, 111, 0.2);

}

/* .inspiration h3 {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: Inter;
} */

.AandFive {
  padding-top: 50px;
}

.whoItsBy-title {
  padding-bottom: 50px;

}

.courses h2 {
  font-size: 40px;
  text-align: center;
  padding-left: 0px;

}

.course-list button {
      /* border: 5px solid #BDD4E7; */
      border: 5px solid #2A9D8F;
      padding-top: 10px;
      /* border: none; */
      color: #2A9D8F;
      padding: 30px 45px;
      text-align: center;
  
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 10px 10px;
      cursor: pointer;
      border-radius: 50px;
      /* display: grid;
      grid-template-columns: 1fr 1fr 1fr; */
}

.course-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  background-color: rgba(26, 147, 111, 0.2);

}

.nervous-image{
  width: 557px;
  height: 368px;
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 5%;
  padding-bottom: 5%
}